/* ============
CSS RESET
===============
*/

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ============
CSS VARIABLES
===============
*/
/* --olive-leaf: #606c38ff;
--black-forest: #283618ff;
--cornsilk: #fefae0ff;
--sunlit-clay: #dda15eff;
--copperwood: #bc6c25ff; */

:root {
   /* Background-colors */
   --bg-color: #283618ff;
   --card-bg-color: #fefae0ff;

    /* Text Colors */
    --primary-text-color: #fcfcfc;
    --card-text-color: #171717;

    /* Button colors */
    --primary-btn-bg-color: #E4B681;
    --primary-btn-bg-hover-color: #EFD1AE;
    --primary-btn-bg-disabled-color: #e4b68154;
    --primary-btn-text-color: #000000;

    --secondary-btn-bg-color: #603915;
    --secondary-btn-bg-hover-color: #c2732a;
    --secondary-btn-bg-disabled-color: #60391548;
    --secondary-btn-text-color: #000000;


    --selected-btn-bg-color: #1C0D0D;
    --selected-btn-bg-hover-color: #452626;
    --selected-btn-bg-disabled-color: #1c0d0d1f;
    --selected-btn-text-color: #fcfcfc;
}


/* ============
BASE STYLES
===============
*/

body {
  font-size: 1rem;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
}

button, a {
  font-family: inherit;
}

button:focus, button:hover {
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* ============
TYPOGRAPHY
===============
*/

h1, h2 {
  text-align: center;
}

h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.4;
}




